<div class="">

  <section class="bg-img-section-a d-flex border mb-2">

    <div class="col-12 p-0 m-0 d-flex row flex-column align-items-center justify-content-center">
      <div class="col-12 d-flex justify-content-center border">
        <img src="../../../../../assets/images/bg-img-section-a-logo.avif" alt="logo" class="img-fluid">
      </div>
      <div class="col-12 d-flex justify-content-center border">
        <h1 class="text-center text-white">LILIANA BEZERRA</h1>
      </div>
      <div class="col-12 d-flex justify-content-center border">
        <h5 class="text-center text-white">FOTOGRAFIA DE CASAMENTOS</h5>
      </div>
    </div>

  </section>

  <section class="d-flex border my-2">

    <div class="d-flex flex-column justify-content-center align-items-center">

      <div>
        <img src="../../../../../assets/images/bg-img-section-b-mobile.avif" alt="logo" class="img-fluid">
      </div>

      <div class="d-flex flex-column justify-content-center align-items-cente">
        <div class="ps-4">
          <h1>Quem sou</h1>
          <hr class="" style="">
        </div>
        <p>Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto. É fácil! Basta clicar em "Editar Texto" ou clicar duas vezes sobre mim e você poderá adicionar o seu próprio conteúdo e trocar fontes. Sinta-se à vontade para arrastar-me e soltar em qualquer lugar em sua página. Sou um ótimo lugar para você contar sua história e permitir que seus clientes saibam um pouco mais sobre você. </p>
        <p>Este é um ótimo espaço para escrever um texto longo sobre a sua empresa e seus serviços. Você pode usar esse espaço para entrar em detalhes sobre a sua empresa.</p>
        <p>Fale sobre a sua equipe e sobre os serviços prestados por você. Conte aos seus visitantes sobre como teve a idéia de iniciar o seu negócio e o que o torna diferente de seus competidores. Faça com que sua empresa se destaque e mostre quem você é.</p>
      </div>

      <div class="col-12 d-flex row justify-content-center align-items-center">
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
        <div class="col-3"><p>Imagem</p></div>
      </div>
    </div>

  </section>

  <section class="bg-img-section-c d-flex border my-2">

    <div class="ps-3 pb-3 d-flex justify-content-center align-items-end">
      <span class="text-white section-c-title">"Capturando os momentos de hoje, que vão supreender seu coração amanhã."</span>
    </div>

  </section>

  <section class="d-flex row border m-0 p-0">

    <div class="col-12 p-0 m-0 row d-flex flex-column justify-content-center align-items-center border border-dark">
      <div class="col-12 ps-4 border border-dark">
        <h1>Vamos conversar</h1>
        <hr class="" style="">
      </div>

      <div class="col-12 border border-dark">
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
      </div>

      <div class="col-12 col-md-5 px-3 px-md-0 pb-5 pt-4 d-flex flex-column justify-content-start border border-dark">

        <div class="input-group mb-3">
          <input type="text" class="form-control border border-dark rounded-0 ps-4" placeholder="Nome" aria-label="name" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control border border-dark rounded-0 ps-4" placeholder="Email" aria-label="email" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control border border-dark rounded-0 ps-4" placeholder="Telefone" aria-label="phone" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <textarea class="form-control border border-dark rounded-0 ps-4" placeholder="Digite sua mensagem aqui..." rows="6" aria-label="message"></textarea>
        </div>

        <div class="py-3 py-md-0 d-flex section5-button-div">
          <div class="py-3 d-flex section5-button">
            <span class="text-center text-white">Enviar</span>
          </div>
        </div>

      </div>

      <div class="col-12 border border-dark bg-img-section-d">
      </div>
    </div>

  </section>

</div>
