<div class="">

  <section class="bg-img-section-a d-flex mb-2 mb-md-0">

    <div class="col-12 p-0 m-0 pt-3 d-flex row flex-column align-items-center justify-content-top">
      <div class="col-12 p-0 pt-4 d-flex justify-content-center">
        <img src="../../../../../assets/images/bg-img-section-a-logo.avif" alt="logo" class="img-fluid" height="132" width="132">
      </div>
      <div class="col-11 d-flex flex-column justify-content-center">
        <span class="text-center text-white section-a-title">LILIANA BEZERRA</span>
        <span class="text-center text-white section-a-subtitle pt-3">FOTOGRAFIA DE CASAMENTOS</span>
      </div>
    </div>

  </section>

  <section class="d-flex mt-2 mt-md-0 p-0 m-0">

    <div class="d-flex row div1-section-b p-0 m-0">

      <div class="col-12 col-md-6 bg-img-section-b p-0 m-0"></div>

      <div class="col-12 col-md-6 p-0 m-0 ps-md-4 d-flex flex-column justify-content-center align-items-center">

        <div class="col-12 ps-4 d-flex flex-column justify-content-start pt-4 pb-4">
          <span class="section-b-title pb-md-3">Quem sou</span>
          <div class="mt-3 pb-md-3" style="border-top: 1px solid black; width: 52px; height: 1px"></div>
        </div>

        <div class="col-12 ps-4 pe-3 pt-2 pb-3 d-flex flex-column gap-4">
          <span class="section-b-span">Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto. É fácil! Basta clicar em "Editar Texto" ou clicar duas vezes sobre mim e você poderá adicionar o seu próprio conteúdo e trocar fontes. Sinta-se à vontade para arrastar-me e soltar em qualquer lugar em sua página. Sou um ótimo lugar para você contar sua história e permitir que seus clientes saibam um pouco mais sobre você. </span>
          <span class="section-b-span">Este é um ótimo espaço para escrever um texto longo sobre a sua empresa e seus serviços. Você pode usar esse espaço para entrar em detalhes sobre a sua empresa.</span>
          <span class="section-b-span">Fale sobre a sua equipe e sobre os serviços prestados por você. Conte aos seus visitantes sobre como teve a idéia de iniciar o seu negócio e o que o torna diferente de seus competidores. Faça com que sua empresa se destaque e mostre quem você é.</span>
        </div>
        
      </div>

      <div class="col-12 p-0 m-0 pt-1 pt-md-0 pb-md-4 d-flex row justify-content-center align-items-center">
        <div class="col-3 bg-imgs-section-b-1"></div>
        <div class="col-3 bg-imgs-section-b-2"></div>
        <div class="col-3 bg-imgs-section-b-3"></div>
        <div class="col-3 bg-imgs-section-b-4"></div>
        <div class="col-3 bg-imgs-section-b-5"></div>
        <div class="col-3 bg-imgs-section-b-6"></div>
        <div class="col-3 bg-imgs-section-b-7"></div>
        <div class="col-3 bg-imgs-section-b-8"></div>
        <div class="col-3 bg-imgs-section-b-9"></div>
        <div class="col-3 bg-imgs-section-b-10"></div>
        <div class="col-3 bg-imgs-section-b-11"></div>
        <div class="col-3 bg-imgs-section-b-12"></div>
      </div>
    </div>

  </section>

  <section class="bg-img-section-c d-flex mb-2">

    <div class="ps-3 pb-3 pb-md-5 d-flex justify-content-center align-items-end">
      <span class="text-white section-c-title">"Capturando os momentos de hoje, que vão supreender seu coração amanhã."</span>
    </div>

  </section>

  <section class="d-flex row m-0 p-0">

    <div class="col-12 col-md-6 p-0 m-0 ps-2 row d-flex flex-column div-section-d">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-start pt-5 pb-4 ">
        <span class="section-d-title">Vamos conversar</span>
        <div class="mt-3" style="border-top: 1px solid black; width: 52px; height: 1px"></div>
      </div>

      <div class="col-12 col-md-6 d-flex flex-column gap-2 py-3 ">
        <span class="section-d-span">Av. Bernardino de Campos, 98</span>
        <span class="section-d-span">São Paulo, SP 12345-678</span>
        <span class="section-d-span">Tel: (11) 3456-7890</span>
        <span class="section-d-span"><a href="mailto:info&#64;meusite.com" style="text-decoration: none; color: inherit;">info&#64;meusite.com</a></span>
      </div>

      <div class="col-12 col-md-6 pe-4 pe-md-5 ps-3 px-md-0 pb-5 pt-4 d-flex flex-column justify-content-start ">

        <div class="input-group mb-3">
          <input type="text" class="form-control border border-dark rounded-0 ps-4 section-d-input" placeholder="Nome" aria-label="name" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control border border-dark rounded-0 ps-4 section-d-input" placeholder="Email" aria-label="email" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control border border-dark rounded-0 ps-4 section-d-input" placeholder="Telefone" aria-label="phone" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <textarea class="form-control border border-dark rounded-0 ps-4 section-d-input" placeholder="Digite sua mensagem aqui..." rows="6" aria-label="message"></textarea>
        </div>

        <div class="py-3 py-md-0 d-flex section-d-button-div">
          <div class="py-3 d-flex section-d-button">
            <span class="text-center text-white">Enviar</span>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-6 p-0 m-0 bg-img-section-d"></div>

  </section>

</div>
