<div class="">

  <div class="d-flex flex-column justify-content-center align-items-center" style="background-color: rgba(47, 46, 46, 1); height: 40vh;">
    <img 
      src="https://static.wixstatic.com/media/a896d9_f4aa15808419476fbd37c3655082d8f9.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a896d9_f4aa15808419476fbd37c3655082d8f9.png" 
      alt="" 
      style="width: 80px; height: 80px; object-fit: contain; object-position: center center; color: white;"
    >
    <span class="text-white text-center go-to-top pb-5 pt-4">Ir para o Topo</span>
    <span class="text-center copyrights-title">&#64;2035 por Liliana Bezerra. Criado orgulhosamente com Wix.com</span>
  </div>

</div>
